

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Cursos</title>

    <link rel="stylesheet" href="index.css">

    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">

</head>

<body>
    
    <div id="main" :style="{ background: '#'+color}">
        

        <!-- *CABECERA -->
        <header class="header">
            <div class="logo-contenedor">
                <figure>
                    <img class="logo-platzi" :src="platziLogo[0]" alt="">
                </figure>
    
                <figure>
                    <img class="logo-nombre" :src="platziLogo[1]" alt="">
                </figure>                
            </div>

            <h1 class="titulo">{{ titulo }}</h1>

        </header>

        <!-- <input class="button " type="button" :style="{ background: '#'+color}" v-on:click="cambiaColor" value="Agrega Curso"> -->

        <!--!SWICTH-->
        <div class="switch">
            <input type="checkbox" id="switch" v-on:click="cambiaColor">
            <label class="label" for="switch"></label>
        </div>

        <!-- *FORMULARIO DE CURSO -->        
        <section class="formulario-container">

            <span v-if="error" :style="{color: '#'+colorError}" class="error" >Error: Debe llenar los campos</span>
            
            <label for="nombreCurso" :style="{color: '#'+colorTexto}">Curso: </label>
            <input class="input" type="text" maxlength="50" v-model="nombreCurso" name="nombreCurso" placeholder="Ingrese el nombre del curso">

            <label for="numeroCurso" :style="{color: '#'+colorTexto}">Cantidad de Horas: </label>
            <input class="input" type="number" v-model="numeroCurso" name="numeroCurso" placeholder="Ingrese el número de horas">

            <input class="button" type="button" :style="{ background: '#'+color}" v-on:click="agregaCurso" value="Agrega Curso">

        </section>
        
        <!-- *TOTAL DE HORAS -->
        <section class="total-horas">
            <p :style="{color: '#'+colorTexto}">🕑 Total de horas: <span :style="{color: '#'+colorError}" class="error derecha">{{tiempototal}}</span> </p>  
        </section>

        <!-- *LISTA DE CURSOS -->
        <section class="cursos-contenedor">
            
            <div class="tabla">
                
                <table class="cursos-lista" v-if="cursos.length > 0">
                    
                    <thead>
                        <tr class="cursos-lista__header">
                            <th>Cursos</th>
                            <th>Horas</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr v-for="(curso, key) in cursos" :key="key">
                            <td :style="{color: '#'+colorTexto}">{{ curso.nombreCurso }}</td>
                            <td :style="{color: '#'+colorTexto}" class="centrame">{{ curso.numeroCurso }}</td>
                        </tr>
                    </tbody>
    
                </table>

                </div>

        </section>

        <!-- *FOOTER -->
        <footer class="footer">
            <p class="footer-titulo" >Hecha por mi <span>🦾</span>Fs1</p>

            <ul class="footer-list-items">
            
                <li>
                    <a href="#">
                        <img src="img/facebook.png" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a target=”_blank” href="https://www.instagram.com/luisfsv1/">
                        <img src="img/instagram.png" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a target=”_blank” href="https://www.linkedin.com/in/luisfelipe1/">
                        <img src="img/linkedin.png" alt="Linkedin">
                    </a>
                </li>
                <li>
                    <a target=”_blank” href="https://github.com/FSIce1">
                        <img src="img/github.png" alt="GitHub">
                    </a>
                </li>

            </ul>


            <span class="footer-hecha">Hecha con <a href="https://vuejs.org/" target="_blank">Vue💚</a></span>

        </footer>
    

    </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="index.js"></script>

</body>

</html>